*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background-color:rgb(11, 8, 46);
    display:grid;
    place-items: center;
}
.grid_layout
{
    width: 100%;
    display: grid;
 grid-template-columns: repeat(auto-fit,minmax(300px,0.56fr));
 row-gap: 20px;
 column-gap: 20px;
justify-content: center;

}
.grid_layout a
{
 color:white;
 text-decoration:none;
 font-size:30px;
 text-align:center;
 border:none;
 padding-top: 10px;
 padding-bottom: 40px;
}
.grid_layout a span
{
    color:rgb(67, 195, 255);
}
#project_lists
{
    width:90%;
    /* display:grid;
    place-items:center; */
}
.project img
{
    width:100%;
    min-width: 150px;
    max-width: 330px;
    height:600px;
    border-radius:10px;
}
.project
{
   display:flex;
   flex-direction:column; 
   align-items: center;
}
.title
{
    color:white;
    margin-block: 40px;
    font-size:40px;
    text-align: center;
}
.title span
{
    color:rgb(67, 195, 255);
}
