
*
{
    font-family: 'Titillium Web', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;

}
:root
{
    --blue:rgb(67, 195, 255);
    --height:886px;
}
#head
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    padding: 0 50px 0;
    background-color:rgb(4, 4, 101);
    height:50px;
    position:fixed;
    top:0;
    z-index:100;
    width:100%;
}
#head i{
    display:none;
}
header h1
{
    font-size:25px;
    color:white;
    animation:anime1 1s backwards;
}
a{
    display:inline-block;
}
nav a{
    text-decoration:none;
    font-size:  25px;
    color:white;
    margin-left:10px;
    text-align:center; 
    padding-top:3px;
    border-radius:10px;
    height:35px;
    animation:animehead 0.2s backwards;
    animation-delay:calc(0.2s * var(--sec));
    transition:0.2s;

}
nav a:nth-child(1),nav a:nth-child(2)
{
    width:80px;

}
nav a:nth-child(3)
{
    width:100px;
}
nav a:nth-child(4)
{
    width:60px;
}
nav a:nth-child(5),nav a:nth-child(6)
{
    width:90px;
}
nav a:hover{
    background-color:var(--blue);

}
body
{
     background-color: rgb(11, 8, 46);
     overflow-x:hidden;
}
#home
{
    min-height:var(--height);
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content: space-between; 
    padding: 0 100px ;
    align-items:center;
}
#div2
{
    padding-right:65px;
    padding-bottom:50px;
}
p
{
    color:white;
}
#span1,#span3
{
    font-size:40px;
    animation:anime3 1s backwards;
    animation-delay:calc(0.2s * var(--sec));
}
#span2
{
    font-size:80px;
    animation:anime1 1s backwards;
    animation-delay:calc(0.2s * var(--sec));
}
#p2
{
    margin-top:20px;
    font-size:20px;
    text-align:justify;
    width:550px;
    animation:anime2 1s backwards;
    animation-delay:calc(0.2s * var(--sec));
}
#div2 img
{
    border-radius:40%;
    box-shadow: 0 0 5px  rgb(28, 131, 179),0 0 25px  rgb(28, 131, 179) ,0 0 50px  rgb(28, 131, 179) ,0 0 100px  rgb(28, 131, 179) ;
    animation:anime2 1s backwards;
    animation-delay:calc(0.2s * var(--sec));
}
#icon a
{
    animation:iconani 1s backwards;
    animation-delay: calc(0.2s * var(--sec));
    font-size:20px;
    text-align:center;
    width:40px;
    height:40px;
    color:rgb(90, 189, 236);
    border:3px rgb(90, 189, 236) solid;
    margin-right:20px;
    padding:6px;    
    padding-top:8px;
    border-radius:50%;
    box-shadow: 0 0 5px  rgb(28, 131, 179),0 0 25px  rgb(28, 131, 179) ,0 0 50px  rgb(28, 131, 179) ,0 0 100px  rgb(28, 131, 179) ;
    transition:0.2s;
}

#icon a:hover
{
    background-color: rgb(90, 189, 236) ;
    color:white;
}
#icon
{
    margin-top:70px;
}
#type
{
    color:rgb(90, 189, 236);
}
#btn1 button,#btn2 button
{
    border-radius:10px;
    border:3px solid rgb(90, 189, 236);
    display:inline-block;
    margin-top:60px;
    background-color:rgb(90, 189, 236);
    padding:10px;
    text-align:justify;
    color:white;
    font-size:16px;
    transition:0.2s;
    box-shadow:0 0 5px  rgb(28, 131, 179),0 0 25px  rgb(28, 131, 179) ,0 0 50px  rgb(28, 131, 179) ,0 0 100px  rgb(28, 131, 179) ;
}
#btn1{
    animation:anime4 1s backwards;
    animation-delay:calc(0.2s * var(--sec));
}
#btn1 button:hover,#btn2 button:hover
{
    border:3px solid rgb(90, 189, 236);
    background-color:transparent;
    color:rgb(90, 189, 236);
    box-shadow:none;
    cursor:pointer;
}
#btn1:hover a{
    color:var(--blue);

}
#btn1:hover
{
    background-color: transparent;
    box-shadow: none;
}
#btn1 a
{
    display:block;
    height:100%;
    width:100%;
    color:white;
    text-decoration:none;
    font-size:18px;
    text-align:center;
    transition:0.2s;
}
#btn1
{
    width:145px;
    height:50px;
    box-shadow:0 0 5px  rgb(28, 131, 179),0 0 25px  rgb(28, 131, 179) ,0 0 50px  rgb(28, 131, 179) ,0 0 100px  rgb(28, 131, 179) ;
    border-radius:10px;
    border:3px solid rgb(90, 189, 236);
    margin-top: 40px;
    background-color:rgb(90, 189, 236);
    padding-top:12px;
    transition:0.2s;

}



