@media screen and (max-width:820px)
{
    .menu
    {
        display:flex;
        flex-direction:column;
        background-color: rgb(12, 5, 77);
        height:500px;
        justify-content: space-evenly;
        width:100%;
        align-items:center ;
        position:absolute;
         right:0;
        top:50px;
        border-radius: 5px 0 0 5px;
        transition:0.1s;
        transform: scaleY(0);
        transform-origin: top ;
    }
    #head i{
        display:block;
        font-size: 34px;
        color:white;
        cursor: pointer;
        animation:anime2 1s backwards;
    }
    .menu1
    {
        transform:scaleY(1);
    }


}
@media screen and (max-width:1170px)
{
 #home
 {
    flex-direction: column;
    min-height: 800px ;
    padding: 0 10px;
    padding-top: 150px;
 }
 #div1
 {
    margin-top:70px;
 }
 #div3
 {
   margin-top:90px;
   padding-bottom: 50px;
 }
 #div2
 {
    display:none;
 }
 #about
 {
    margin-top: -80px;
    flex-wrap: wrap;
 }
}
@media screen and (max-width:1250px)
{
 #services
 {
    padding-top:100px;
 }
}
@media screen and (max-width:1219.5px)
{
 #skill
 {
    padding-top:100px;
 }
 #professional
 {
    margin-top:80px; 
 }

}
@media screen and (max-width:590px)
{
   html
   {
      font-size:16px;
   }
   header h1
   {
      font-size:calc((1rem + 1vw) - 0.3px);
   }
  #span1,#span3
  {
   font-size:calc(1rem + 3vw);
  }
  #span2
  {
   font-size:calc(1rem + 8vw);
  }
  #p2
  {
    font-size:calc((1rem + 1vw) - 3px)
  }
  #about p
  {
   font-size:calc((1rem + 1vw) - 3px)
  }
}
@media screen and (max-width:480px)
{
   #about #div3
   {
      padding:0;
      display:flex;
      justify-content: center;
   }
   #about div:last-child
   {
      padding:0 10px;
   }
   #div3 img
   {
      width:95%;
   }
   #ser
   {
      margin:0;
   }
   #nical
   {
      padding-left: 0;
      width: 90%;
   }
   #nical .bar
   {
      margin-left: 0;
   }

#nical .bar .progress
{
   width:100%;
}
#professional
{
   margin-left:0;
}
.box
{
   padding:0;
}
}
@media screen and (max-width:355px)
{
   .box img
   {
      width:310px;
      height:310px;
   }
   .pop
   {
            width:310px;
      height:310px;
   }
}
