@media all and (max-width:820px)
{
    .menu
    {
        display:flex;
        flex-direction:column;
        background-color: rgb(12, 5, 77);
        height:500px;
        justify-content: space-evenly;
        width:50%;
        align-items:center ;
        position:absolute;
        right:-50%;
        top:50px;
        border-radius: 5px 0 0 5px;
        transition:0.5s;
    }
    #head i{
        display:block;
        font-size: 34px;
        color:white;
        cursor: pointer;
        animation:anime2 1s backwards;
    }
    .menu1
    {
        right:0;
    }


}
@media all and (max-width:1170px)
{
 #home
 {
    flex-direction: column;
    min-height: 800px ;
 }
 #div1
 {
    margin-top:70px;
 }
 #div3
 {
   margin-top:90px;
   padding-bottom: 50px;
 }
 #div2
 {
    display:none;
 }
 #about
 {
    margin-top: -80px;
    flex-wrap: wrap;
 }
}
@media all and (max-width:1250px)
{
 #services
 {
    padding-top:100px;
 }
}
@media all and (max-width:1219.5px)
{
 #skill
 {
    padding-top:100px;
 }
 #professional
 {
    margin-top:80px; 
 }

}
