*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#head
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 100px 0;
    background-color:rgb(4, 4, 101);
    height:50px;
}
h1
{
    font-size:25px;
    color:white;
    animation:anime1 1.2s ;
}
a{
    display:inline-block;
}
nav a{
    text-decoration:none;
    font-size:  25px;
    color:white;
    margin-left:20px;
    animation:animehead 1.2s;
    animation-delay:calc(0.07s * var(--sec));

}
body
{
     background-color: rgb(11, 8, 46);
}
#home
{
    height:600px;
    display:flex;
    justify-content: space-between; 
    padding: 0 100px 0;
    align-items:center;

}
/* div{
    background-color: aliceblue;
} */
#div2
{
    padding-right:65px;
    margin-top:150px;
}
p
{
    color:white;
}
#span1,#span3
{
    font-size:40px;
    animation:anime3 1.2s ;
    animation-delay:calc(0.1s * var(--sec));
}
#span2
{
    font-size:80px;
    animation:anime1 1.2s ;
    animation-delay:calc(0.1s * var(--sec));
}
#p2
{
    margin-top:20px;
    font-size:20px;
    text-align:justify;
    width:550px;
    animation:anime4 1.2s;
    animation-delay:calc(0.1s * var(--sec));
}
img
{
    border-radius:40%;
    box-shadow: 0 0 5px  rgb(28, 131, 179),0 0 25px  rgb(28, 131, 179) ,0 0 50px  rgb(28, 131, 179) ,0 0 100px  rgb(28, 131, 179) ;
    animation:anime2 1.2s ;
}
#icon a
{
    animation:iconani 1.2s;
    animation-delay: calc(0.05s * var(--sec));
    font-size:20px;
    color:rgb(90, 189, 236);
    border:3px rgb(90, 189, 236) solid;
    margin-right:20px;
    padding:6px;
    padding-top:7px;
    border-radius:50%;
    box-shadow: 0 0 5px  rgb(28, 131, 179),0 0 25px  rgb(28, 131, 179) ,0 0 50px  rgb(28, 131, 179) ,0 0 100px  rgb(28, 131, 179) ;
}

#icon a:hover
{
    background-color: rgb(90, 189, 236) ;
    color:white;
}
#icon
{
    margin-top:70px;
}
#type
{
    color:rgb(90, 189, 236);
}
@keyframes anime1
{
    0%
    {
        transform:translateX(-150px);
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes anime2
{
    0%
    {
        transform:translateX(200px);
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes anime3
{
    0%
    {
        transform:translateY(-150px);
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes anime4
{
    0%
    {
        transform:translateY(150px);
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes animehead
{
    0%
    {
        transform:translateY(90px);
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes iconani
{
    0%
    {
        transform:translateX(150px);
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

